extends layout

block header
    link(rel='stylesheet', type='text/css', href='/stylesheets/analyze.css')
    script(type='text/javascript', src='/javascripts/analyze.js')

block content
    br
    button#upload.mdc-button.mdc-button--raised= locale.upload
    input#uploadButton(hidden type="file" multiple)
    br
    br
    button#analyze.mdc-button.mdc-button--raised= locale.analyze

block drawer
    aside.mdc-drawer.mdc-top-app-bar--fixed-adjust
        .mdc-drawer__header
            h3.mdc-drawer__title= locale.analyze
        .mdc-drawer__content
            nav.mdc-list
                a.mdc-list-item(href='/portal')
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') folder
                    span.mdc-list-item__text= locale.files
                a.mdc-list-item(href='/analyze')
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') file_upload
                    span.mdc-list-item__text= locale.upload
