extends layout

block header
    link(rel='stylesheet', type='text/css', href='/stylesheets/directory.css')
    script.
        Object.assign(locale, {
            confirm_delete: "#{locale.confirm_delete}",
            error_deleting: "#{locale.error_deleting}"
        });
        let folderContents = !{JSON.stringify(files)};
        let path = !{JSON.stringify(path)};
        let path_decrypted = "#{path_decrypted}";
        let baseUrl = "#{baseUrl}";
    script(type='text/javascript', src= "/javascripts/directory.js")


block drawer
    aside.mdc-drawer.mdc-top-app-bar--fixed-adjust.mdc-drawer--modal
        .mdc-drawer__content
            .mdc-drawer__header
                h3.mdc-drawer__title
            nav.mdc-list
                a.mdc-list-item.mdc-list-item--activated(href=baseUrl)#file-manager
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') folder
                    span.mdc-list-item__text= locale.files
                a.mdc-list-item(href="/analyze")
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') file_upload
                    span.mdc-list-item__text= locale.upload
                a.mdc-list-item#download-current-dir
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') file_download
                    span.mdc-list-item__text= locale.download
                a.mdc-list-item(href=baseUrl + "/.recycle")
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') delete
                    span.mdc-list-item__text= locale.trash
                .mdc-list-divider
                a.mdc-list-item(href='.')#back
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') arrow_back
                    span.mdc-list-item__text= locale.back
                a.mdc-list-item#logout
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') launch
                    span.mdc-list-item__text= locale.logout

block content
    table#navigation-bar-table
        tr#navigation-bar
            td
                button#home.material-icons(onclick = "window.location = baseUrl" style="background-color: transparent; border: none; outline: none") home
                button#path-overflow(hidden style='font-size: 15px; margin-top: 7px; margin-left: 5px; border: none; outline: none; background-color: transparent')
                    h4 ...



    //h2(style='margin-bottom: 3px;') #{directory.path}
    table#files
        tr.underlinedTR
            td.first-column

                //.mdc-checkbox#select-all
                    input.mdc-checkbox__native-control(type='checkbox')
                    .mdc-checkbox__background
                        svg.mdc-checkbox__checkmark(viewBox='0 0 24 24')
                            path.mdc-checkbox__checkmark-path(fill='none', d='M1.73,12.91 8.1,19.28 22.79,4.59')
                        .mdc-checkbox__mixedmark

            td
                h4= locale.name
            td
                h4= locale.size
            td
                h4= locale.modified

    //h3#computername.mdc-typography.mdc-typography--subtitle2(style='margin-top: 0; margin-bottom:5px')= hostname